<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ncu.BlockChainCharity.mapper.CharityMapper">
    <insert id="insertCharity" keyProperty="charityId" useGeneratedKeys="true">
        insert into `charity`(`charity_name`,`password`,`email`,`phone_number`)
        values(#{charityName},#{password},#{email},#{phoneNumber})
    </insert>
    <update id="updateCharityKey">
        update `charity` set `charity_key`=#{charityKey} where `charity_id`=#{charityId}
    </update>
<!--    <insert id="insertCharity&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;WithcertificationPath">-->
<!--        insert into `charity`(`charity_name`,`password`,`email`,`phone_number`,`certification_path`)-->
<!--        values(#{charityName},#{password},#{email},#{phoneNumber},#{certificationPath})-->
<!--    </insert>-->


    <update id="certify">
        update `charity`set `id_number`=#{idNumber},`introduction`=#{introduction},`address`=#{address},
                            `logo_path`=#{logoPath} , `certification_path`=#{certificationPath},`is_certified`=1  where `charity_id`=#{charityId}
    </update>

    <update id="audit">
        update `charity` set `is_audited`=#{auditResult} where `charity_id`=#{charityId}
    </update>

    <select id="getCharityByCharityName" resultType="org.ncu.BlockChainCharity.bean.Charity">
        select * from charity where charity_name=#{charityName}
    </select>

    <select id="getCharityByCharityId" resultType="org.ncu.BlockChainCharity.bean.Charity">
        select `charity_id`,`charity_key`,`charity_name`,`email`,`phone_number`,`certification_path`,`id_number`,
               `address`,`introduction`,`logo_path` from charity where charity_id=#{carityId}
    </select>

    <select id="getCharityByCharityKey" resultType="org.ncu.BlockChainCharity.bean.Charity">
        select `charity_id`,`charity_key`,`charity_name`,`email`,`phone_number`,`certification_path`,`id_number`,
               `address`,`introduction`,`logo_path` from charity where charity_key=#{carityKey}
    </select>

    <select id="getUnderAuditedCharity" resultType="org.ncu.BlockChainCharity.bean.Charity">
        select `charity_id`,`charity_key`,`charity_name`,`email`,`phone_number`,`certification_path`,`id_number`,
               `address`,`introduction`,`logo_path`,`is_certified`,`is_audited` from charity where   is_audited=0
    </select>

</mapper>